@model FoodDeliveryBot.Models.ViewModels.ProductCreateModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>Добавление продукта</h2>

@using (Html.BeginForm("Create", "Products"))
{
    @Html.HiddenFor(m => m.DeliveryId)
    <div class="form-group">
        <label>
            Название
            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { required = "true", @class = "form-control" } })
        </label>
    </div>
    <div class="form-group">
        <label>
            Описание
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
        </label>
    </div>
    <div class="form-group">
        <label>
            Цена
            @Html.EditorFor(m => m.Price, new { htmlAttributes = new { type = "number", @class = "form-control" } })
        </label>
    </div>
    <button type="submit" class="btn btn-default">Создать</button>
}